<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <h2 class="text-primary">{{ _('Tor Source') }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ _('Version') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'tor-stable') %}
        {% set a = bag('versions', 'tor-alpha') %}
        {% set download_link = 'https://dist.torproject.org/tor-' + t.version + '.tar.gz' %}
        {% set changelog_link = 'https://gitweb.torproject.org/tor.git/plain/ChangeLog?h=tor-' + t.version %}
        {% set sig_link = download_link + '.asc' %}
        {% set alpha_download_link = 'https://dist.torproject.org/tor-' + a.version + '.tar.gz' %}
        {% set alpha_sig_link = alpha_download_link + '.asc' %}
        <tr>
          <td>{{ t.version }}</td>
          <td><a href="{{ changelog_link }}">{{ _('Changelog') }}</a></td>
          <td class="text-right"><a href="{{ download_link }}">{{ _('Download') }}</a> (<a href="{{ sig_link }}">{{ _('sig') }}</a>)</td>
        </tr>
        {% if t.version != a.version %}
          <tr>
            <td>{{ a.version }}</td>
            <td class="text-right"><a href="{{ alpha_download_link }}">{{ _('Download') }}</a> (<a href="{{ alpha_sig_link }}">{{ _('sig') }}</a>)</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 class="text-primary">{{ _('Windows Expert Bundle') }}</h2>
    {% set t = bag('versions', 'torbrowser-stable') %}
    <table class="table">
      <tbody>
        <tr>
          <td>{{ _('Windows 10, 8, 7, Vista, XP, 2000, 2003 Server, ME, and Windows 98SE') }}</td>
          <td>{{ _('Contains just Tor and nothing else.') }}</td>
          <td class="text-right">
            {% from "macros/downloads.html" import render_windows_expert %}
            {{ render_windows_expert(t.version, t.win32) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
